#d-pad {

    position: relative;
    width: 50vh;
    height: 50vh;
    margin: 0;
}

.button {
    position: absolute;
    border-style: solid;
    transition: border-color 0.3s ease; /* Ajoutez une transition pour la couleur de fond */
    cursor: pointer; /* Changez le curseur pour indiquer que c'est un bouton cliquable */
}


#buttons {
    position: absolute;
    right: -140vh;
    top: 10vh;
}

.buttons {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    background-color: red;
    margin-bottom: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 5vh;
    font-weight: bold;
}


#up {
    border-width: 0 10vh 20vh 10vh;
    border-color: transparent transparent red transparent;
    top: 0;
    left: 20vh;
}

#right {
    border-width: 10vh 0 10vh 20vh;
    border-color: transparent transparent transparent red;
    top: 20vh;
    right: -10vh;
}

#down {
    border-width: 20vh 10vh 0 10vh;
    border-color: red transparent transparent transparent;
    top: 40vh;
    left: 20vh;
}

#left {
    border-width: 10vh 20vh 10vh 0;
    border-color: transparent red transparent transparent;
    top: 20vh;
    left: 0;
}